config_files/WEB-SCADA/web-scada-nodered-config.json
[{"id":"32e7ec3c.f16f84","type":"tab","label":"Ligth controll","disabled":false,"info":""},{"id":"ce4520a3.e38bd","type":"tab","label":"Allarm","disabled":false,"info":""},{"id":"162473b5.be6ccc","type":"tab","label":"Reading data","disabled":false,"info":""},{"id":"48c13831.fad088","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a7262e07.6e53a","type":"modbus-client","z":"","name":"LOGO_station","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"e1089819.4a13c8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"a2d51f4d.de0bc","type":"ui_group","z":"","name":"Office","tab":"e1089819.4a13c8","disp":true,"width":"12","collapse":false},{"id":"de37dc8e.2871f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e74abadc.caa968","type":"ui_group","z":"","name":"Plan","tab":"e1089819.4a13c8","disp":true,"width":"20","collapse":false},{"id":"21ec6d91.2b06e2","type":"modbus-write","z":"32e7ec3c.f16f84","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"81","quantity":"1","server":"a7262e07.6e53a","x":400,"y":100,"wires":[["ca1e9242.2e26b"],["ca1e9242.2e26b"]]},{"id":"4378e96f.7685b8","type":"inject","z":"32e7ec3c.f16f84","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["21ec6d91.2b06e2"]]},{"id":"69cf11f0.c18d2","type":"inject","z":"32e7ec3c.f16f84","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":40,"wires":[["21ec6d91.2b06e2"]]},{"id":"ca1e9242.2e26b","type":"debug","z":"32e7ec3c.f16f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":100,"wires":[]},{"id":"40c955ae.920ffc","type":"modbus-write","z":"32e7ec3c.f16f84","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"82","quantity":"1","server":"a7262e07.6e53a","x":400,"y":300,"wires":[["7b3f841c.5e830c"],["7b3f841c.5e830c"]]},{"id":"3893be48.4fa942","type":"inject","z":"32e7ec3c.f16f84","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":280,"wires":[["40c955ae.920ffc"]]},{"id":"4e40e06c.e62e6","type":"inject","z":"32e7ec3c.f16f84","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["40c955ae.920ffc"]]},{"id":"7b3f841c.5e830c","type":"debug","z":"32e7ec3c.f16f84","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":300,"wires":[]},{"id":"b2dc18e5.3d4718","type":"modbus-write","z":"32e7ec3c.f16f84","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"161","quantity":"1","server":"a7262e07.6e53a","x":420,"y":500,"wires":[["85d572ee.52db4"],["85d572ee.52db4"]]},{"id":"d84feda2.37e9b","type":"inject","z":"32e7ec3c.f16f84","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["b2dc18e5.3d4718"]]},{"id":"2b76be84.9f86b2","type":"inject","z":"32e7ec3c.f16f84","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":440,"wires":[["b2dc18e5.3d4718"]]},{"id":"85d572ee.52db4","type":"debug","z":"32e7ec3c.f16f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":500,"wires":[]},{"id":"98afbefb.26a8b","type":"modbus-write","z":"ce4520a3.e38bd","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"162","quantity":"1","server":"a7262e07.6e53a","x":320,"y":140,"wires":[["4a84741c.df735c"],["4a84741c.df735c"]]},{"id":"28b9216.73f33de","type":"inject","z":"ce4520a3.e38bd","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["98afbefb.26a8b"]]},{"id":"461b3fb9.38a14","type":"inject","z":"ce4520a3.e38bd","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["98afbefb.26a8b"]]},{"id":"4a84741c.df735c","type":"debug","z":"ce4520a3.e38bd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":140,"wires":[]},{"id":"57fa18dc.db9fd8","type":"ui_button","z":"32e7ec3c.f16f84","name":"","group":"a2d51f4d.de0bc","order":0,"width":0,"height":0,"passthru":false,"label":"Light_1","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":160,"wires":[["89f9521b.bdd0f"]]},{"id":"cc8bd3e0.16bf6","type":"modbus-getter","z":"162473b5.be6ccc","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"Coil","adr":"264","quantity":"8","server":"a7262e07.6e53a","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":480,"y":120,"wires":[["220a8a2c.d37f46","44ddfc5d.50cd44","f37ba8b5.1b3088","b287196a.995d38","4fc3962e.21fc58","1ebc5c12.25c994"],["220a8a2c.d37f46"]]},{"id":"61e319a6.922e48","type":"inject","z":"162473b5.be6ccc","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"1","x":250,"y":140,"wires":[["cc8bd3e0.16bf6"]]},{"id":"220a8a2c.d37f46","type":"debug","z":"162473b5.be6ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"75c926f7.109ca8","type":"ui_switch","z":"162473b5.be6ccc","name":"","label":"Ligth_1_state","tooltip":"","group":"a2d51f4d.de0bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"&#128161","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"&#128161","offcolor":"white","x":920,"y":180,"wires":[[]]},{"id":"44ddfc5d.50cd44","type":"function","z":"162473b5.be6ccc","name":"Extract nth elent from aray","func":"msg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["75c926f7.109ca8","5a79c944.f85ff8"]]},{"id":"5a79c944.f85ff8","type":"function","z":"162473b5.be6ccc","name":"Save in global var","func":"global.set('ligth1', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":240,"wires":[[]]},{"id":"89f9521b.bdd0f","type":"function","z":"32e7ec3c.f16f84","name":"Read from feedback state","func":"msg.payload = !global.get('ligth1')\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["21ec6d91.2b06e2"]]},{"id":"9eb2d804.e3b2f8","type":"comment","z":"162473b5.be6ccc","name":"Ligth_1","info":"","x":1070,"y":220,"wires":[]},{"id":"40f825f3.fa32ec","type":"comment","z":"162473b5.be6ccc","name":"Ligth_status_2","info":"","x":1100,"y":320,"wires":[]},{"id":"386f7bf3.b57c14","type":"comment","z":"162473b5.be6ccc","name":"Ligth_status_3","info":"","x":1100,"y":460,"wires":[]},{"id":"6cd7cb5f.f5cc74","type":"comment","z":"162473b5.be6ccc","name":"Allarm_status","info":"","x":1090,"y":580,"wires":[]},{"id":"439e28c9.f6df58","type":"ui_switch","z":"162473b5.be6ccc","name":"","label":"Ligth_2_state","tooltip":"","group":"a2d51f4d.de0bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"&#128161","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"&#128161","offcolor":"white","x":920,"y":300,"wires":[[]]},{"id":"f37ba8b5.1b3088","type":"function","z":"162473b5.be6ccc","name":"Extract nth elent from aray","func":"msg.payload = msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["439e28c9.f6df58","faa897f.8ef8068"]]},{"id":"faa897f.8ef8068","type":"function","z":"162473b5.be6ccc","name":"Save in global var","func":"global.set('ligth2', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":360,"wires":[[]]},{"id":"80861ea.aa742e","type":"ui_switch","z":"162473b5.be6ccc","name":"","label":"Ligth_3_state","tooltip":"","group":"a2d51f4d.de0bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"&#128161","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"&#128161","offcolor":"white","x":920,"y":440,"wires":[[]]},{"id":"b287196a.995d38","type":"function","z":"162473b5.be6ccc","name":"Extract nth elent from aray","func":"msg.payload = msg.payload[2]\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["80861ea.aa742e","f2a07090.6c0a8"]]},{"id":"f2a07090.6c0a8","type":"function","z":"162473b5.be6ccc","name":"Save in global var","func":"global.set('ligth3', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":500,"wires":[[]]},{"id":"abdb15d8.4cdce8","type":"ui_switch","z":"162473b5.be6ccc","name":"","label":"Alarm state","tooltip":"","group":"a2d51f4d.de0bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"&#128161","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"&#128161","offcolor":"white","x":910,"y":560,"wires":[[]]},{"id":"4fc3962e.21fc58","type":"function","z":"162473b5.be6ccc","name":"Extract nth elent from aray","func":"msg.payload = msg.payload[3]\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["abdb15d8.4cdce8","2bdf39a0.63b1b6"]]},{"id":"2bdf39a0.63b1b6","type":"function","z":"162473b5.be6ccc","name":"Save in global var","func":"global.set('alarm', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":620,"wires":[[]]},{"id":"52fd3a26.7438c4","type":"ui_button","z":"32e7ec3c.f16f84","name":"","group":"a2d51f4d.de0bc","order":0,"width":0,"height":0,"passthru":false,"label":"Light_2","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":180,"y":340,"wires":[["cda21aa9.a06c28"]]},{"id":"cda21aa9.a06c28","type":"function","z":"32e7ec3c.f16f84","name":"Read from feedback state","func":"msg.payload = !global.get('ligth2')\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["40c955ae.920ffc"]]},{"id":"a1d6b47d.71e018","type":"ui_button","z":"32e7ec3c.f16f84","name":"","group":"a2d51f4d.de0bc","order":0,"width":0,"height":0,"passthru":false,"label":"Light_3","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":580,"wires":[["a7632396.88138"]]},{"id":"a7632396.88138","type":"function","z":"32e7ec3c.f16f84","name":"Read from feedback state","func":"msg.payload = !global.get('ligth3')\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":600,"wires":[["b2dc18e5.3d4718"]]},{"id":"688fb6dd.0bb4c8","type":"ui_button","z":"ce4520a3.e38bd","name":"","group":"a2d51f4d.de0bc","order":0,"width":0,"height":0,"passthru":false,"label":"Allarm","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":110,"y":220,"wires":[["bb0274ea.220a18"]]},{"id":"bb0274ea.220a18","type":"function","z":"ce4520a3.e38bd","name":"Read from feedback state","func":"msg.payload = !global.get('alarm')\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["98afbefb.26a8b"]]},{"id":"f2fda1b.8308d6","type":"ui_template","z":"48c13831.fad088","group":"e74abadc.caa968","name":"","order":0,"width":"0","height":"0","format":"<h1>Under construction</h1>\n\n<svg width=\"800\" height=\"600\" xmlns=\"http://www.w3.org/2000/svg\">\n <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->\n <g>\n  <title>background</title>\n  <rect fill=\"#fff\" id=\"canvas_background\" height=\"602\" width=\"802\" y=\"-1\" x=\"-1\"/>\n  <g display=\"none\" overflow=\"visible\" y=\"0\" x=\"0\" height=\"100%\" width=\"100%\" id=\"canvasGrid\">\n   <rect fill=\"url(#gridpattern)\" stroke-width=\"0\" y=\"0\" x=\"0\" height=\"100%\" width=\"100%\"/>\n  </g>\n </g>\n <g>\n  <title>Layer 1</title>\n  <rect id=\"svg_1\" height=\"432\" width=\"485\" y=\"87.5\" x=\"164.5\" stroke-width=\"1.5\" stroke=\"#000\" fill=\"#fff\"/>\n  <rect id=\"svg_2\" height=\"98\" width=\"148\" y=\"87.5\" x=\"164.5\" stroke-width=\"1.5\" stroke=\"#000\" fill=\"#fff\"/>\n  <line stroke-linecap=\"undefined\" stroke-linejoin=\"undefined\" id=\"svg_3\" y2=\"297.5\" x2=\"649.50412\" y1=\"297.5\" x1=\"163.5\" stroke-width=\"1.5\" stroke=\"#000\" fill=\"none\"/>\n  <ellipse ry=\"16\" rx=\"16\" id=\"svg_4\" cy=\"191.5\" cx=\"407.5\" stroke-width=\"1.5\" stroke=\"#000\" fill=\"#fff\"/>\n  <ellipse ry=\"20.5\" rx=\"20.5\" id=\"svg_5\" cy=\"412\" cx=\"404\" stroke-width=\"1.5\" stroke=\"#000\" fill=\"#fff\"/>\n </g>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":140,"wires":[[]]},{"id":"58ae7acd.f22a24","type":"function","z":"48c13831.fad088","name":"","func":"msg.payload = {\n    ligth1:global.get('ligth1'),\n    ligth2:global.get('ligth2'),\n    ligth3:global.get('ligth3'),\n    alarm:global.get('alarm'),\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["f2fda1b.8308d6"]]},{"id":"77e44fdc.91706","type":"comment","z":"162473b5.be6ccc","name":"Allarm_status","info":"","x":1110,"y":720,"wires":[]},{"id":"61fa5a28.303754","type":"ui_switch","z":"162473b5.be6ccc","name":"","label":"Heating state","tooltip":"","group":"a2d51f4d.de0bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"&#128161","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"&#128161","offcolor":"white","x":930,"y":700,"wires":[[]]},{"id":"1ebc5c12.25c994","type":"function","z":"162473b5.be6ccc","name":"Extract nth elent from aray","func":"msg.payload = msg.payload[4]\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":700,"wires":[["61fa5a28.303754","28110caf.865964"]]},{"id":"28110caf.865964","type":"function","z":"162473b5.be6ccc","name":"Save in global var","func":"global.set('heating', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":760,"wires":[[]]}]